.container {
    margin: 20px;
}

.content {
    display: flex;
    flex-direction: row;
}

table {
    width: 100%;
    margin: 5px;
    height: 10px;
}

h2 {
    color: white;
}

h3 {
    color: white;
}